In [ ]:
def sums(a: int, b:int) -> int:
  if type(a) != int or type(b) != int:
    print("please enter numbers")
    return
    print("continue...")
  res = a + b
  return res

In [ ]:
sums("ali", "reza")

please enter numbers

In [ ]:
def sub(a, b):
  pass

In [ ]:
def sayHello(name: str, age: int, phone: str) -> str:
  """
  Say hello to user.

  Args:
      name (str): user first name
      age (int): user age
      phone (str): user phone number
  Returns:
      str: hello user first name \nage \nphone number
    """
  return f"hello {name} \nage {age} \nphone {phone}"

In [ ]:
print(sayHello("ali", 25, "0987654321"))

hello ali
age 25
phone 0987654321

In [ ]:
def majmoo(*args):
  return sum(args)

In [ ]:
b = input().split()
majmoo(b)

1 2 3 4 5 6 7

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [ ]:
def test():
  global y
  y = 10
  return y

In [ ]:
print(test())
print(y)

10
10

In [ ]:
def calc_factorial(x:int)->int:
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        return (x * calc_factorial(x-1))

num = 6
print("The factorial of", num, "is", calc_factorial(num))

The factorial of 6 is 720